<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858728376479-3cpsb0pcdrldp2abb8u1hf4jil90bmj2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858728376479-3cpsb0pcdrldp2abb8u1hf4jil90bmj2</string>
	<key>API_KEY</key>
	<string>AIzaSyC9ybn6qXiQAk9fTYKiIXM7yIzkGDJkcaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>858728376479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.equihealth.equihealth</string>
	<key>PROJECT_ID</key>
	<string>equi-health</string>
	<key>STORAGE_BUCKET</key>
	<string>equi-health.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858728376479:ios:ac2ea6beceb428f1ac5aaa</string>
</dict>
</plist>